<launch>
	<node pkg="hades_com_sys" type="COM_OP_NODE" name="COM_OP_NODE" output="screen"/>

	
	<!--TESTING ONLY: COMMENT OUT ROS NODE-->
	<!--<node pkg="rosserial_python" type="serial_node.py" args="_port:=/dev/ttyACM0 _baud:=1000000" name="serial_node0" respawn="true" output="screen"/>-->
	<node pkg="joy" type="joy_node" name="joy_node"/>


   <include file="$(find video_stream_opencv)/launch/camera.launch" >
        <arg name="camera_name" value="realsense" />
        <arg name="video_stream_provider" value="0" />
        <arg name="fps" value="12" />
        <arg name="frame_id" value="realsense" />
        <arg name="camera_info_url" value="" />
        <arg name="flip_horizontal" value="false" />
        <arg name="flip_vertical" value="false" />
	<arg name="width" value = "320"/>
	<arg name="height" value = "240" />
        <arg name="visualize" value="true" />
   </include>
	<!--Launch the video processing node-->
	<node pkg="hades_video_proc" type="HADES_VID_PROC_NODE" name="HADES_VID_PROC_NODE" output="screen"/>


	<!--TESTING ONLY-->
	<!--TEST RECIEVER SIDE-->
	<node pkg="hades_base_stn" type="BASE_COM_OP_NODE" name="BASE_COM_OP_NODE" output="screen"/>
	<node pkg="hades_video_proc_base" type="HADES_VID_PROC_NODE_BASE" name="HADES_VID_PROC_NODE_BASE" output="screen"/>
	<node pkg="image_view" type="image_view" name = "image_view" args="_image:=/HADES_video_stream" output="screen" respawn="true">
		<remap from="image" to= "HADES_video_stream"/>
	</node>


</launch>
